{{define "title"}}登录{{end}} 

{{define "body"}}
<div class="container">
    <form action="/users/login" method="POST">
        {{with .Form}} 
            {{with .Errors.Get "generic"}}
                <div class="card border-danger mb-3">
                    <div class="card-body text-danger">
                        <p class="card-text">{{.}}</p>
                    </div>
                </div>
            {{end}}

            <div class="row my-3">
                <label class="col-md-1 col-form-label">用户:</label>
                <div class="col-md-5">
                    <input name="sn" type="text" value='{{.Get "sn"}}' class="form-control" />
                </div>
                <label class="col-md-1 col-form-label">(编号)</label>
            </div>

            <div class="row mb-3">
                <label class="col-md-1 col-form-label">密码:</label>
                <div class="col-md-5">
                    <input name="password" type="password" class="form-control">
                </div>
            </div>

            <input type="submit" value="登录" class="offset-md-1 btn btn-primary" /> 
        {{end}}
    </form>
</div>
{{end}}